@import "../../app.scss";
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/stars.png");
  background-attachment: fixed; // Key for parallax effect
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; // Example height, adjust as needed
  width: 100%;
}

.text5 h1 {
  margin-top: -100px;
  font-size: 80px;
  font-weight: bolder;
  color: purple;
  @include mobile {
    margin-top: 5vh;
    font-size: 35px;
    align-self: center;

    align-items: center;
  }
}

.image-container {
  text-align: center;
  margin-top: 50px;
}

.image-container img {
  width: 100%;
  max-width: 800px;
  height: 300px;
  display: block;
  @include mobile {
    max-width: 400px;
    height: 200px;
  }
}

.image-container .left-arrow,
.image-container .right-arrow {
  font-size: 60px; /* Increased size */
  cursor: pointer;
  margin: 0 20px;
  margin-top: 100px;
  gap: 20px;
  color: purple; /* Changed color */
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  flex-wrap: nowrap;
  @include mobile {
    width: 75%;
    justify-content: center;
  }
}

.progress-bar {
  width: 100px;
  height: 5px;
  background-color: #ccc;
  transition: all 0.5s ease;
}

.progress-bar.active {
  width: 130px;
  background-color: purple;
}
.right-arrow {
  color: purple;
  font-size: 100px;
  z-index: 4;
}
.left-arrow {
  color: purple;
  font-size: 100px;
  z-index: 4;
}
