@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textcontainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }
    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }
    hr {
      width: 400px;
      border: none;
      border-top: 0.5px solid gray;
      @include mobile {
        width: 300px;
        align-content: center;
      }
    }
  }
  .titlecontainer {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      width: 100%;
    }
    .title {
      display: flex;
      align-items: center;
      gap: 50px;
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        @include mobile {
          width: 200px;
          height: 50px;
        }
      }
      h1 {
        z-index: 5;
        font-size: 96px;
        font-weight: 100;
        color: azure;
        b {
          color: orange;
        }
        @include mobile {
          font-size: 24px;
        }
      }
      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 26px;
        color: black;
        cursor: pointer;
        display: none;
        @include mobile {
          font-size: 5 px;
          width: 130px;
          height: 75px;
          display: none;
        }
      }
    }
  }
  .listcontainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    align-items: center;
    @include mobile {
      flex-direction: column;
      width: 100%;
    }
    .box {
      height: 350px;
      z-index: 6;
      padding: 50px;
      border: 0.5px solid gray;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      max-width: 400px;

      @include mobile {
        align-items: center;
        border-color: gray;
        align-items: center;
        justify-content: center;

        gap: 10px;
        padding: 20px;
      }
      h2 {
        text-align: center;
        font-weight: bold;
        font-size: larger;
        color: orange;
      }
      p {
        color: azure;
        @include mobile {
          font-size: 10px;
          justify-content: center;
          align-items: center;
        }
      }
      button {
        display: none;
        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          color: orange;
          width: 75%;
          padding: 5;
        }
      }
    }

    .box:hover {
      background-image: url("/stars.gif");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
